# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/gogocash"
DIRECT_URL="postgresql://postgres:password@localhost:5432/gogocash"

# NextAuth
NEXTAUTH_SECRET="your-super-secret-key-here-change-in-production"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Environment
NODE_ENV="development"

## Involve Asia 

INVOLVE_ASIA_API_TOKEN=""
NEXT_PUBLIC_SHOPEEXTRA_PREFIX=""

SHOPEEXTRA_API_KEY=""
SHOPEEXTRA_API_SECRET=""

REDIS_PORT="6379"
REDIS_USER="default"